<table class="table table-striped" id="simple_table" 
  data-source="<%= options.try(:[], :source_path) || send("#{class_type.name.underscore.pluralize}_path", { :format => :json, :only_path => false }) %>">
  <thead>
    <tr>
      <% if options.try(:[], :include_blank_th) %>
        <th></th>
      <% end %>
      <% columns.each do |column| %>
        <th><%= class_type.human_attribute_name(column) %></th>
      <% end %>
      <% unless options.try(:[], :disable_edit_delete) %>
        <th>Opcje pozycji</th>
      <% end %>
    </tr>
  </thead>
</table>

<%= javascript_tag do %>
  <%= (render 'common-views/table_helper.js.erb', options: options).html_safe %>
<% end %>